<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link href="/static/css/main.css" rel="stylesheet">

    <title>Data Site</title>
  </head>
  <body>
    <div class="container theme-showcase" role="main">
      <h1>Sales Overview</h1>

      <div>
        <a class="btn btn-primary load-result" href="#" role="button">
          Load
        </a>
        <a class="btn btn-primary move-result" href="#" role="button">
          Erase
        </a>
        <a class="btn btn-primary fade-result" href="#" role="button">
          Hide
        </a>

        <div id="result"></div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>