<div class="container">   
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Меню</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/all/">Новости <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Спонсорам</a>
      </li>

<div class="btn-group">
  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    О нас
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">История</a>
    <a class="dropdown-item" href="#">Наша команда</a>
    <a class="dropdown-item" href="#">Вакансии</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Контакты</a>
  </div>
</div>


    </ul>

    <form class="form-inline my-2 my-lg-0" method="POST" action="/login/">
      <input class="form-control mr-sm-2" type="text" placeholder="Email" name='email'>
    <input class="form-control mr-sm-2" type="password" placeholder="Пароль" name="pass">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Логин</button>
    </form>
</div>
</nav>
</div>
